
@{
    if (@Session["user"] == null)
    {
        FormsAuthentication.SignOut();
        Response.Redirect(Url.Action("SignIn","Compte"));
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MC3 Océan Indien</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.3.13/slick.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <a href="@Url.Action("Index", "Home")"> <img class="navbar-logo" src='@Url.Content("~/Content/img/logo.png")' /></a>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Catégories<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-4">
                            <div class="row">
                                @{ Html.RenderAction("Menu", "Produit"); }
                            </div>
                        </ul>
                    </li>

                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Mon Compte", "MonCompte", "Compte")</li>

                    
                    <li class="dropdown panier ">
                        @{
                            Html.RenderAction("GetPanier", "Panier");
                        }
                        
                     </li>

<li class="deco" title="Déconnexion"><a href="javascript:$('#logOffForm').submit()"><span class="glyphicon glyphicon-off" style="margin-top: -4px;"></span></a></li>
                </ul>
                <!-- Search Bar-->
                <ul class="nav navbar-nav pull-right">
                    <li>
                        <div class="row">

                            <form action="@Url.Action("Search","Produit")" method="GET" class="search-form">
                                <div class="form-group has-feedback">
                                    <label for="search" class="sr-only">Recherche</label>
                                    <input type="text" class="form-control" name="Search" id="search" placeholder="Rechercher">
                                    <span id="search-icone" class="glyphicon glyphicon-search form-control-feedback"></span>
                                </div>
                            </form>

                        </div>
                    </li>
                    <!--/ Search Bar-->
                </ul>
                <!-- render partial a mettre plus tard-->
            </div>
        </div>
    </div>
    
    <div class="container body-content">
        <div class="row bobody">
            @RenderBody()

        </div>
        <!--FOOTER-->
        <footer class="row">
            
            
            <hr/>
            <div class="col-lg-12">

                <div class="col-lg-4">
                    <h4 class="line3 center standart-h4title"><span>Site MC3</span></h4>
                    <ul class="footer-links">
                        <li><a href="#">Mentions légales</a></li>
                        <li><a href="#">Conditions générales de ventes</a></li>
                        <li><a href="#">Livraison</a></li>
                        <li><a href="#">Qui-sommes nous?</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h4 class="line3 center standart-h4title"><span>Nos Partenaires</span></h4>
                    <ul class="footer-links">
                        <li><a href="http://www8.hp.com/fr/fr/home.html">HP</a></li>
                        <li><a href="http://www.epson.fr/">EPSON</a></li>
                        <li><a href="http://www.lenovo.com/fr/fr/">LENOVO</a></li>
                        <li><a href="http://www.microsoft.com/fr-fr/default.aspx">MICROSOFT</a></li>
                    </ul>
                </div>

                <div class="col-lg-4">
                    <h4 class="line3 center standart-h4title"><span>Contact</span></h4>
                    <address class="footer-links">
                        <a href="#" target="_blank">
                            <strong>MC3 OI</strong><br>
                            36, rue Coco Robert<br>
                            Sainte-Marie, 97438<br>
                            Tél: +262 (0) 262 53 01 00<br>
                            Fax: +262 (0) 262 53 04 53<br>
                        </a>
                        Mail:<a href="mailto:mc3reunion@mc3.fr"> mc3reunion@mc3.fr</a>
                    </address>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.13/slick.min.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", false)
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>
    @using (Html.BeginForm("LogOff", "Compte", FormMethod.Post, new { id = "logOffForm" }))
    {
        @Html.AntiForgeryToken()
    }
    <script>
    $(function () {
        // Initialize numeric spinner input boxes
        //$(".numeric-spinner").spinedit();
        // Initialize modal dialog
        // attach modal-container bootstrap attributes to links with .modal-link class.
        // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
        $('body').on('click', '.modal-link', function (e) {
            e.preventDefault();
            $(this).attr('data-target', '#modal-container');
            $(this).attr('data-toggle', 'modal');
        });
        // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
        $('body').on('click', '.modal-close-btn', function () {
            $('#modal-container').modal('hide');
        });
        //clear modal cache, so that new content can be loaded
        $('#modal-container').on('hidden.bs.modal', function () {
            $(this).removeData('bs.modal');
        });
        $('#CancelModal').on('click', function () {
            return false;
        });
    });
    // action ajax

    $("#export_csv").click(function () {
        var param1 = getUrlParameter(1);
        var param2 = $("#Famille").val();
        window.location = "@Url.Action("DownloadFicheArticle", "Produit")" + param1;
       
    });
    // changer de mot de passe
    $("#singlebutton").click(function() {
        $.ajax({
            url: "@Url.Action("NewPassword","Compte")",
            type: "POST",
            data: {
                Password: $("#passwordinput").val(),
                NewPassword: $("#passwordRepeat").val()
            },
            success: function(data) {
                $("#result").removeClass("alert alert-success alert-danger")
                if (data == 'true') {

                    $("#result").addClass("alert alert-success");
                    $("result").append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">fermer</span></button>');
                    $("#result").text("Changement de mot de passe effectué");
                } else {
                    $("#result").addClass("alert alert-danger");
                    $("result").append('<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">fermer</span></button>');
                    $("#result").text("Erreur lors du changement de mot de passe");
                }
            }
        });
    });
    // ajout au panier
    $(".add_panier").click(function (e) {
        e.preventDefault();
        var qte_value = $('input[id*="' + $(this).data("ref") + '"]').val();

        $.ajax({
            url: "@Url.Action("AddPanier","Produit")",
            type: "POST",
            data : {
                AR_Ref: $(this).data("ref"),
                Qte: qte_value
            },
            success:function(data) {
                if (data == "Success") {
                    console.log(data);
                    update_panier();
                    count_panier();
                    // ajout de la div
                } else {
                    console.log(data);
                }
            }
        });
    });

    function update_panier(){
        $.ajax({
            url: "@Url.Action("GetPanier","Panier")"


        }).done(function (data) {
            $('.panier').html(data);

        });
    };
    function count_panier() {
        $.ajax({
            url: "@Url.Action("CountPanier","Panier")"


        }).done(function (data) {
            $('.num-cart').text(data);
        });
    }
    </script>
</body>
</html>