@using MC3Shopper.Models;

<a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart" style="margin-top: -4px;"></span><span class="num-cart">@ViewBag.count</span></a>

<ul class="dropdown-menu" id="dropdown-panier">
    <li>
        <div style="padding: 15px; padding-bottom: 0px;">

            <label style="text-align: center;">Panier:</label><br />
           
                @if (@ViewBag.panier != null)
                {
                    
                    <div id="panier-scroll">
                        @if(@ViewBag.panier.monPanier.Count<=0)
                        {
                            <p>
                                Votre Panier est vide :(
                            </p>
                        }
                        else
                        {
                            foreach (Produit p in @ViewBag.panier.monPanier)
                            {
                                <p>
                                    <b>@p.Reference</b>- <i>@p.Designation</i> X @p.QteDemande <br />
                                </p>
                            }
                        }
                      
                    </div>
                }
                
                    @if (@ViewBag.panier==null ||@ViewBag.panier.monPanier.Count <= 0)
                    {
                        <a href="/Commander" class="btn btn-primary btn-block disabled">Commander</a>
                    }
                    else
                    {
                        <a href="/Commander" class="btn btn-primary btn-block ">Commander</a>
                    }
                   
                
           
        </div>
    </li>
</ul>