@using System.Diagnostics.Eventing.Reader
@using MC3Shopper.Models;
@{


}

    
        
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-shopping-cart" style="margin-top: -4px;"></span></a>

        <ul class="dropdown-menu" style="min-height: 250px;">
            <li>
                <div style="padding: 15px; padding-bottom: 0px;">

                    <label style="text-align: center;">Panier:</label><br/>
                    @if (@ViewBag.panier != null)
                    {
                        foreach (Produit p in @ViewBag.panier.monPanier)
                        {

                            <p>
                                <b>@p.Reference</b>- <i>@p.Designation</i> X @p.QteDemande <br/>
                            </p>}

                    }

                    <input class="btn btn-primary btn-block" type="button" value="Voir mon panier">
                    <input class="btn btn-primary btn-block" type="button" value="Commander">
                </div>
            </li>
        </ul>
        

   