@using MC3Shopper.Models
@{
    ViewBag.Title = "Commande";
}

<div class="container">

    <h2 style="text-align:center">Commander</h2>

    <div class="row bs-wizard" style="border-bottom:0;">

        <div id="part1" class="col-xs-4 bs-wizard-step" style="z-index:990">
            <div class="text-center bs-wizard-stepnum">Etape 1</div>
            <div class="progress" style="width:200%"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center step-1">Panier</div>
        </div>

        <div id="part2" class="col-xs-4 bs-wizard-step" style="z-index:997">
            <div class="text-center bs-wizard-stepnum">Etape 2</div>
            <div class="progress" style="width:0px"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center step-2">Lieu de livraison</div>
        </div>

        <div id="part3" class="col-xs-4 bs-wizard-step" style="z-index:995">        
            <div class="text-center bs-wizard-stepnum">Etape 3</div>
            <div class="progress" style="width:0px"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center step-3">Confirmation</div>
        </div>
    </div>
    <div class="col-md-12" id="slide-step1">
        <legend>Panier</legend>
        <table class="table table-striped table-hover table-bordered table-body-center table-condensed ">
            <thead>
                <tr class="full-header">
                    <th>
                        Référence
                    </th>
                    <th>
                        Designation
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th>
                        Prix Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (@ViewBag.panier != null)
                {
                    foreach (Produit p in @ViewBag.panier.monPanier)
                    {
                        <tr>
                            <td>
                                @p.Reference
                            </td>
                            <td>
                                @p.Designation
                            </td>
                            <td>
                                @p.QteDemande
                            </td>

                            <td>
                                @p.PrixTotal
                            </td>
                            
                        </tr>
                    }

                }
            
            </tbody>       
        </table>
        
        <div class="btn btn-primary" id="next1">Suivant</div>
    </div>

    <div class="col-md-12" id="slide-step2">
        <legend>Lieu de livraison</legend>
        Je souhaite
        <select id="mode" class="" style="max-width:170px">
            <option>un retrait</option>
            <option>une livraison</option>
        </select>
        à
        <select id="lieu" class="" style="max-width:170px">

            <option>St Denis</option>
            <option>St Pierre</option>
        </select>
        <input type="checkbox"/>Livraison partielle

        <div class="btn btn-primary" id="return1">Précédent</div>
        <div class="btn btn-primary" id="next2">Suivant</div>

    </div>

    <div class="col-md-12" id="slide-step3">
        <legend>Confirmation</legend>
        <div class="btn btn-primary" id="return2">Précédent</div>
        <div class="btn btn-primary" id="next3">Confirmer</div>
    </div>
    
</div>


