@using MC3Shopper.Models;
<div id="step" class="container">
    <div class="col-md-12">
        <legend>Panier</legend>
        <table class="table table-striped table-hover table-bordered table-body-center table-condensed ">
            <thead>
                <tr>
                    <th>
                        Réference
                    </th>
                    <th>
                        Désignation
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th>
                        Prix unitaire
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (@ViewBag.panier != null)
                {
                    foreach (Produit p in @ViewBag.panier.monPanier)
                    {
                        <tr class="panier-prod">
                            <td>@p.Reference</td>
                            <td><i>@p.Designation</i></td>
                            <td style="text-align:center"><b>@p.QteDemande</b></td>
                            <td>@p.Prix€</td>
                            <td>@p.PrixTotalFormate</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
</div>

    @Ajax.ActionLink("Suivant", "ProcessStep2", "Panier",
    new AjaxOptions
    {
        UpdateTargetId = "step",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "Get"
    }, new { @class = "btn btn-primary btn-block" }
    )
</div>

<script>
    StepOne();
</script>