@using MC3Shopper.Models
@{
    ViewBag.Title = "Mon Compte";
    Utilisateur user = ViewBag.monUser;
    List<lignedocument> Factures = ViewBag.factures;
    List<lignedocument> historique = ViewBag.historique;
}

@Styles.Render("~/Content/css")
<div class="min-size">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#monCompte" data-toggle="tab">Mon Compte</a></li>
        <li><a href="#encours" data-toggle="tab">Encours</a></li>
        <li><a href="#historique" data-toggle="tab">Historique des commandes</a></li>
        <li><a href="#cotation" data-toggle="tab">Cotation</a></li>

    </ul>

    <div class="tab-content">


        <!---------MON COMPTE--------->
        <br />
        <div class="tab-pane active" id="monCompte">
            
            <form class="form-horizontal">
                <fieldset>

                    <!--Infos Client-->


                    <div class="col-md-6">
                        <!-- Form Name -->
                        <legend>Informations</legend>

                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Société</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.Intitule</p>
                            </div>
                        </div>
                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Adresse</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.Adresse</p>
                            </div>
                        </div>
                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Code postal</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.CodePostal</p>
                            </div>
                        </div>
                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Pays</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.Pays</p>
                            </div>
                        </div>
                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Siret</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.SIRET</p>
                            </div>
                        </div> 
                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">NAF</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.CodeApe</p>
                            </div>
                        </div>
                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Téléphone</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.Telephone</p>
                            </div>
                        </div>
                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Fax</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.Telecopie</p>
                            </div>
                        </div>
                        <div class="row marginer">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Email</label>
                            </div>
                            <div class="col-md-6">
                                <p class="texte-compte">@user.Email</p>
                            </div>
                        </div>
                    </div>
                    <!-- Password input-->
                    <div class="col-md-6">
                        <!-- Form Name -->
                        
                        <legend>Changer le mot de passe</legend>

                        <div class="form-group">
                            <label class="col-md-4 control-label" for="passwordinput">Nouveau mot de passe</label>
                            <div class="col-md-6">
                                <input id="passwordinput" name="password" type="password" placeholder="Mot de passe" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Password input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="passwordinput">Confirmer mot de passe</label>
                            <div class="col-md-6">
                                <input id="passwordRepeat" name="passwordRepeat" type="password" placeholder="Mot de passe" class="form-control input-md" required="">
                            </div>
                        </div>

                        <!-- Button -->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="singlebutton"></label>
                            <div class="col-md-4">
                                <button id="singlebutton" name="singlebutton" class="btn btn-primary" type="button">Valider</button>
                            </div>

                        </div>
                        <div id="result"></div>
                    </div>
                </fieldset>
            </form>
        </div>

        <!---------ENCOURS--------->
        <div class="tab-pane" id="encours">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <fieldset>

                        <!--Infos Client-->
                        <!-- Form Name -->
                        <legend>Encours</legend>

                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Encours autorisé</label>
                            </div>
                            <div class="col-md-4">
                                <p class="texte-compte">@user.EncoursMax</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Solde au @DateTime.Now.ToString("dd/MM/yyyy")</label>
                            </div>
                            <div class="col-md-4">
                                <p class="texte-compte">@user.Solde</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Echus à 1 mois</label>
                            </div>
                            <div class="col-md-4">
                                <p class="texte-compte">@user.Echus1mois</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Echus à 2 mois</label>
                            </div>
                            <div class="col-md-4">
                                <p class="texte-compte">@user.Echus2mois</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Echus à 3 mois</label>
                            </div>
                            <div class="col-md-4">
                                <p class="texte-compte">@user.Echus3mois</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4">
                                <label class="col-md-4 pull-text">Non echus</label>
                            </div>
                            <div class="col-md-4">
                                <p class="texte-compte">@user.NonEchus</p>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>          
        </div>

        <!---------HISTORIQUE--------->
        <div class="tab-pane" id="historique">
            <div class="table-responsive scroll fixed-head" id="">
                <div class="col-md-12">
                    <legend>Historique</legend>
                </div>
                
                <table class="table table-striped table-hover table-bordered table-body-center table-condensed">
                    <thead>
                    <tr class="full-header">
                        <th>
                            N° Commande
                        </th>
                        <th>
                            Commande Client
                        </th>
                        <th>
                            Date de la commande
                        </th>
                        <th>
                            Réference
                        </th>
                        <th>
                            Designation
                        </th>
                        <th>
                            Quantité
                        </th>
                    </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in historique)
                        {
                            <tr class="full-product">
                                <td>
                                    @item.DO_Piece
                                </td>
                                <td>
                                    @item.DO_Ref
                                </td>
                                <td>
                                    @item.DO_Date
                                </td>
                                <td>
                                    @item.AR_Ref
                                </td>
                                <td>
                                    @item.DL_Design
                                </td>
                                <td>
                                    @item.DL_Qte
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <!---------FORMULAIRE COTATION--------->
        <div class="tab-pane" id="cotation">
            <div class="col-md-12">
                <form class="form-horizontal">
                    <fieldset>

                        <!-- Form Name -->
                        <legend>Cotation</legend>

                        <!-- Textarea -->
                        <div class="form-group">
                            <div class="col-md-3">
                                <label for="textarea">Cotation</label>
                            </div>
                            <div class="col-md-5">
                                <textarea class="form-control" id="textarea" name="textarea">Cotation</textarea>
                            </div>
                            <div class="col-md-2">
                                <button id="cotationbutton" name="cotationbutton" class="btn btn-primary">Valider</button>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>         

        </div>
    </div>
</div>
