@using MC3Shopper.Models
@model MC3Shopper.Models.Produit
@if (@Model != null && !String.IsNullOrEmpty(Model.Reference))
{
    <div id="st" class="container" style="margin-top:10%;">
        <div class="modal-header">
            <h2><small>Details de l'article :</small> @Model.Reference  </h2>

            <!-- -->
            
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-2">
                    <img id="img-modal" src="@Model.Reference" alt="@Model.Designation" />
                </div>

                <!-- appliquer css et html pour les informations-->
                <div class="col-lg-10">
                    <p id="ref-modal">@Model.Reference</p>
                    <p id="desi-modal"><strong>@Model.Designation</strong></p>
                    <p>
                        Quantité totale <em><span class="badge">@Model.StockDisponible</span></em>
                        | Stock Saint-Denis <em><span class="badge">@Model.StockDispo_denis</span></em>
                        | Stock Saint-Denis <em><span class="badge">@Model.StockDispo_pierre</span></em>
                    </p>
                </div>
            </div>          
            
        </div>
        <div>
            @foreach (Produit item in @Model.ProduitAssocies)
            {
                <div>
                    <p>@Model.Reference</p>
                    <p><strong>@Model.Designation</strong></p>
                    <p>Quantité totale <em><span class="badge">@Model.StockDisponible</span></em></p>
                    <p>Stock Saint-Denis <em><span class="badge">@Model.StockDispo_denis</span></em></p>
                    <p>Stock Saint-Denis <em><span class="badge">@Model.StockDispo_pierre</span></em></p>
                </div>
            }
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
        </div>
    </div>
}
else
{
    <span class="has-error"> Erreur : article introuvable</span>
}
   

<script type="text/javascript">
    $(function() {
        $('#approve-btn').click(function() {
            $('#modal-container').modal('hide');
        });
    });
</script>