@using MC3Shopper.Models;
<div id="getList">
    <div class="table-responsive" id="list_product">
        <table class="table table-striped table-hover table-bordered table-body-center table-condensed">
            <thead>
                <tr>
                    <th>
                        Référence
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Quantité
                    </th>
                    <th>
                        Prix
                    </th>
                    <th>
                        Ajouter au panier
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (Produit item in @ViewBag.liste)
                {

                    if (item.StockDisponible + item.QteEnCommande <= 0)
                    {
                        continue;
                    }
                    string dispo_denis = item.StockDispo_denis > 0 ? item.StockDispo_denis.ToString() : "Stock Epuisé";
                    string dispo_pierre = item.StockDispo_pierre > 0 ? item.StockDispo_pierre.ToString() : "Stock Epuisé";
                    string arrive = "";
                    if (item.QteEnCommande > 0 && item.Disponibilite != "")
                    {
                        DateTime dt = Convert.ToDateTime(item.Disponibilite);
                        arrive = item.QteEnCommande.ToString() + " le " + dt.Day + "/" + dt.Month + "/" + dt.Year;
                    }

                    <tr>
                        <td>
                            @Html.ActionLink(item.Reference, "Details", new { id = item.Reference }, new { @class = " modal-link Reference" })
                        </td>
                        <td>
                         @Html.ActionLink(item.Designation, "Details", new { id = item.Reference }, new { @class = " modal-link Reference" })
                        </td>
                        <td>
                            <input type="text" class="qte" value="0" id="Qte" />   <span class="">@item.StockDisponible </span>
                            <p>Saint-Denis: <span class="badge">@dispo_denis</span></p>
                            <p>Saint-Denis: <span class="badge">@dispo_pierre</span></p>
                            <p><em>@arrive</em></p>
                        <td>
                            @Math.Round((double)item.Prix, 2)<span class="glyphicon-euro"></span>
                        </td>

                        <td>
                            <a href="#data" class="add_panier">Ajouter au panier</a>
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <nav>
        <div class="paginatior">

            <ul class="pagination pagination-sm">
                @if (@ViewBag.current > 3 && @ViewBag.current + 5 < @ViewBag.count)
                {
                    for (int i = @ViewBag.current - 3; i < @ViewBag.current + 5; i++)
                    {
                        if (i == @ViewBag.current)
                        {
                            <li class="active">
                                <a href="#">
                                    @i <span class="sr-only">
                                        (current)
                                    </span>
                                </a>
                            </li>
                        }

                        else
                        {

                            <li>@Html.ActionLink(@i.ToString(), "Category", new { Stat02 = @ViewBag.category, Famille = @ViewBag.Famille, page = @i })</li>

                        }
                    }
                }
                else
                {
                    if (@ViewBag.current + 5 < @ViewBag.count)
                    {
                        for (int i = @ViewBag.current; i < @ViewBag.current + 5; i++)
                        {
                            if (i == @ViewBag.current)
                            {
                                <li class="active">
                                    <a href="#">
                                        @i <span class="sr-only">
                                            (current)
                                        </span>
                                    </a>
                                </li>
                            }

                            else
                            {

                                <li>@Html.ActionLink(@i.ToString(), "Category", new { Stat02 = @ViewBag.category, Famille = @ViewBag.Famille, page = @i })</li>

                            }
                        }
                    }
                    else
                    {
                        for (int i = @ViewBag.current; i < @ViewBag.count; i++)
                        {

                            if (i == @ViewBag.current)
                            {
                                <li class="active">
                                    <a href="#">
                                        @i <span class="sr-only">
                                            (current)
                                        </span>
                                    </a>
                                </li>
                            }

                            else
                            {

                                <li>@Html.ActionLink(@i.ToString(), "Category", new { Stat02 = @ViewBag.category, Famille = @ViewBag.Famille, page = @i })</li>

                            }

                        }

                    }
                }
            </ul>
        </div>
    </nav>
</div>
