@using System.Globalization
@{
    ViewBag.Title= ViewBag.category;
    Layout = "~/Views/Shared/_Layout.cshtml";
    IFormatProvider culture = new CultureInfo("fr-FR", true);
}

<div class="page-header">
    <h2>@ViewBag.category</h2>
</div>
<div class="row marginer-bottom">
    <div class="col-md-12">
        <div class="pull-left">@Html.Action("_fam", new { Stat02 = @ViewBag.category })</div>
        <div class="pull-right">
            <a href="#" class="btn  btn-primary " id="export_csv">Exporter au format CSV</a>
        </div>
    </div>
</div>
<div class="row">
    @Html.Action("_getListProduct", new {Stat02 = @ViewBag.Category})
</div>