@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IFormatProvider culture = new System.Globalization.CultureInfo("fr-FR", true);

}

<div class="page-header">
    <h2>@ViewBag.category</h2>
</div>
@Html.Action("_fam", new { Stat02 = @ViewBag.category })
@Html.Action("_getListProduct", new { Stat02 = @ViewBag.Category })
