@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    IFormatProvider culture = new System.Globalization.CultureInfo("fr-FR", true);
}
@using MC3Shopper.Models;
<h2>@ViewBag.category</h2>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered table-body-center">
        <thead>
            <tr>
                <th>
                    Référence
                </th>
                <th>
                    Description
                </th>
                <th>
                    Quantité
                </th>
                <th>
                    Prix
                </th>
                <th>
                    Ajouter au panier
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Produit item in @ViewBag.liste)
            {

                if (item.StockDisponible + item.QteEnCommande <= 0)
                {
                    continue;
                }
                string dispo_denis = item.StockDispo_denis > 0 ? item.StockDispo_denis.ToString() : "Stock Epuisé";
                string dispo_pierre = item.StockDispo_pierre > 0 ? item.StockDispo_pierre.ToString() : "Stock Epuisé";
                string arrive = "";
                if (item.QteEnCommande > 0 && item.Disponibilite != "")
                {
                    DateTime dt = Convert.ToDateTime(item.Disponibilite);
                    arrive = item.QteEnCommande.ToString() + " le " + dt.Day + "/" + dt.Month + "/" + dt.Year;
                }

                <tr>
                    <td>
                        @Html.ActionLink(item.Reference, "Detail", new { id = @GestionSys.EncodeTo64(item.Reference) }, new { @class = "Reference" })
                    </td>
                    <td>
                        @Html.ActionLink(item.Designation, "Detail", new { id = @GestionSys.EncodeTo64(item.Reference) }, new { @class = "Désignation" })
                    </td>
                    <td>
                        <input type="text" class="qte" value="0" id="Qte" />@item.StockDisponible
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Saint-Denis </th>
                                    <th>Saint-Pierre</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @dispo_denis
                                    </td>
                                    <td>
                                        @dispo_pierre
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p><em>@arrive</em></p>
                    <td>
                        @Math.Round((double)item.Prix, 2)<span class="glyphicon-euro"></span>
                    </td>

                    <td>
                        <a href="#data" class="add_panier">Ajouter au panier</a>
                    </td>

                </tr>

            }
        </tbody>
    </table>
</div>
        <nav>
    <ul class="pager">
        @if (@ViewBag.count > 14)
        {
            
            int next = ViewBag.current + 1 <= 1 ? 2 : ViewBag.current + 1;
            int prev = ViewBag.current - 1 <= 0 ? 1 : ViewBag.current - 1;
            

            <li>@Html.ActionLink("Précédent", "Category", new { Stat02 = ViewBag.category, page = prev }, new { @class = "previous" })</li>
            <li>@Html.ActionLink("Suivant", "Category", new { Stat02 = ViewBag.category, page = next }, new { @class = "next" })</li>


         }
           
        

    </ul>
</nav>