@model MC3Shopper.Models.Produit
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Details de l'article :@Model.Reference  </h2>

<!-- -->
<img src="@Model.Reference" alt="@Model.Designation" />
<div>
<!-- appliquer css et html pour les informations-->
    <p>@Model.Reference</p>
    <p><strong>@Model.Designation</strong></p>
    <p>Quantité total :<em><span class="badge">@Model.StockDisponible</span></em></p>
    <p>Stock Saint-Denis :<em><span class="badge">@Model.StockDispo_denis</span></em></p>
    <p>Stock Saint-Denis :<em><span class="badge">@Model.StockDispo_pierre</span></em></p>
</div>

