@model List<String>

@*@for (int i = 0; i < @Model.Count; i++)
    {
    if(i%10==0)
    {
    @Html.Raw("<div class='col-sm-4'>")
    @Html.Raw("<ul class='multi-column-dropdown'>")

    <li>@Html.ActionLink(@Model[i], "Category", new { Sate02 = @Model[i] })</li>

    }
    else
    {
    <li>@Html.ActionLink(@Model[i], "Category", new { Sate02 = @Model[i] })</li>
    }

    if(i%10==0)
    {
    @Html.Raw("</ul>")
    @Html.Raw("</div>")
    }

    }*@
@{
    int i = 0;
}
@foreach (string item in @Model)
{
    switch (i)
    {
        case 0:
            @Html.Raw("<div class='col-sm-4'>")
            @Html.Raw("<ul class='multi-column-dropdown cat'>")

            goto default;
        default:
            <li>@Html.ActionLink(@item, "Category", new { Stat02 =@item.Replace('/','_')})</li>
            i++;
            break;
        case 20:
            @Html.Raw("</ul>")
            @Html.Raw("</div>")
            i = 0;
            break;
    }
}